
.container {
    margin: 50px auto;
    width: 100%;
}

.snake {
    background: dimgray;
    margin: 0 auto;
    position: relative;
}

.snake_item {
    position: absolute;
    background: darkgreen;
    border: 3px double #ffffff;
    box-sizing: border-box;
    z-index: 1;
    transition-property: left, top, opacity, background-color;
    transition-timing-function:  ease-in-out;
    transition-duration: .5s;
}

.snake_food {
    position: absolute;
    background: rebeccapurple;
    border: 3px double #ffffff;
    box-sizing: border-box;
    z-index: 2;
}

.snake_item_inStomach {
    background: orangered;
    border: 3px double #ffffff;
    z-index: 5;
    transition-property:  opacity, background-color;
    transition-timing-function:  ease-in-out;
    transition-duration: .5s;
}

.snake_item_die {
    opacity: 0;
    background: darkred;
}



