
.container {
    margin: 50px auto;
    width: 100%;
}

.snake {
    background: dimgray;
    margin: 0 auto;
    position: relative;
}

.snake_item {
    position: absolute;
    background: darkgreen;
    border: 3px double #ffffff;
    box-sizing: border-box;
}